extends layout

block content
    section.main-content.about-content
        .container.block-center
            h1 About Us
            .row
                .col-md-6
                    .photo-box
                        img(src="/images/jv.jpg", alt="Jason Valle")
                        h2 Jason Valle
                        p Jason likes hockey and beer. He wrote most of the story and also worked on everything else.
                .col-md-6
                    .photo-box
                        img(src="/images/mm.jpg", alt="Michael Martin")
                        h2 Michael Martin
                        p Michael's energy during the last 48 hours came from the cupcakes is wife made and Mountain Dew. He worked on the front end and also everything else.
            h2 Tech we Used:
            ul
                li Node.js
                li Express
                li Jade
                li LESS
                li Twit (and the Twitter API)
                li Bootstrap
                li Font-Awesome