extends layout

block content
    section.main-content.help-content
        .container.block-center
            h1 Help! What do I do?
            p Solar Badlands is a space-themed role-playing game that you play on Twitter. This page will help you get started if you're stuck. Tweet at <a href="http://twitter.com/mlms13">@mlms13</a> if you run into issues.
            p All tweets should start with "@solarbadlands"
            h2 Global Actions
            ul
                li <strong>START GAME</strong> Begin a game if you haven't already started
                li <strong>LOOK AROUND</strong> Maybe you didn't notice some details in your current location
                li <strong>INVENTORY</strong> List all of your current items
                li <strong>HELP</strong> Basic advice (and a link back to this page)
            h2 Common Actions
            ul
                li <strong>GET <em>item</em></strong> Attempt to take some item in to your inventory
                li <strong>GO <em>place</em></strong> Move to a new location
                li <strong>LOOK AT <em>item</em></strong> You might notice something if you look closer
                li <strong>TALK TO <em>person</em></strong> People you meet may have something interesting to offer