extends layout

block content
    form.block-center.login(action="/", method="post")
        h1.align-center Check Your Progress

        if error
            .alert.alert-danger
                button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                strong= error.title
                span= " " + error.body
        input.form-control(placeholder="Enter your Twitter username", name="tw-handle")