extends layout

block content
    section.main-content.home-content
        .container.block-center
            .photo-instruction-box
                img(src="/images/exit_planet.jpg", alt="Your spaceship is leaving the planet!")
                h1 Instructions
                p Solar Badlands is a text-based RPG that you play on Twitter. Tweet at <a href="https://twitter.com/solarbadlands">@solarbadlands</a> with the text "start game" to get started.
            include user-search-form