doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    iframe(src="http://nodeknockout.com/iframe/polar-badlands", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")