@charset "UTF-8";

@import "bootstrap";
@import "fonts";

html,
body {
    height: 100%;
}

body {
    background: #eee;
    padding-top: 56px; // to accomodate our 56px fixed menu at the top
}
img {
    max-width: 100%;
}
// bootstrap overrides:
.navbar-brand {
    font-size: 28px;
    line-height: 56px;
    padding: 0;
}
.navbar-nav > li > a {
    font-size: 16px;
    line-height: 26px;
}

// custom stuff
.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo {
    border-radius: 5px;
    float: left;
    height: 50px;
    margin: 3px 12px 3px 0;
    width: 50px;

    @media (max-width: 500px) {
        display: none;
    }
}
.block-center {
    margin: 0 auto;
}
.align-center {
    text-align: center;
}

// page content
.whole-page {
    display: -webkit-flex;
    -webkit-flex-flow: column;
    min-height: 100%;
}

.main-content {
    -webkit-flex: auto;
}
.home-content {
    .container {
        max-width: 390px;
    }
}
.help-content {
    .container {
        max-width: 600px;
    }
}
.about-content {
    .container {
        max-width: 600px;

        @media (max-width: 1000px) {
            max-width: 450px;
        }
    }
}

// instructions
.photo-instruction-box,
.photo-box {
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    margin-top: 15px;
    padding: 10px;
}

// this is so dirty
.about-content .photo-box {
    min-height: 425px;
}

.user-activity {
    background: #ddd;

    .container {
        max-width: 600px;
    }
}

// user search form
.user-search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 390px;
}

// history page
.history {
    img {
        border-radius: 5px;
        flex: 1 0 auto;
        max-height: 48px;
        max-width: 48px;
    }

    .message {
        background: #fff;
        border: 1px solid;
        border-color: #ddd #ccc #ccc #ddd;
        flex: 1 1 auto;
        padding: 10px;
        position: relative;

        &:before {
            border: 10px solid;
            content: "";
            position: absolute;
        }
    }

    .incoming,
    .outgoing {
        display: flex;
        margin-bottom: 15px;
    }

    .incoming {
        .message {
            &:before {
                border-color: transparent transparent transparent #fff;
                right: -20px;
            }
        }
        img {
            order: 1;
            margin-left: 10px;
        }
    }
    .outgoing {
        .message {
            background: #e4f2ff;

            &:before {
                border-color: transparent #e4f2ff transparent transparent;
                left: -20px;
            }
        }
        img {
            margin-right: 10px;
        }
    }
}

// footer
.page-footer {
    background: #ccc;
    padding-top: 15px;
}
